.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Cairo', sans-serif;
}

.shopping-card{
  position: relative;
}

.total-cards{
  position: absolute;
  background-color: red;
  display: block;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  bottom: 2px;
  left: 6px;
  color: #fff;
}

.dropdown-menu[data-bs-popper]{
  right: 0 !important;
  left: auto !important;
  background-color: #212529;
  top: 57px !important;
}

.my-products{
  width: 300px;
  
}

.coma-drop{
  width: 15px;
  height: 15px;
  position: absolute;
  top: -7px;
  right: 16px;
  transform: rotate(137deg);
}
.empty-message{
  font-size: 12px;
    text-align: start;
    width: 200px;
    margin: auto;
}